#body_accueil{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
    h1{
        color:red;
        font-size:2.5em;
    }
    img{
        height:200px;
        width:80vw;
        object-fit: cover;
    }
    li, summary{
        list-style-type: none;
        margin:0;
        a{
            text-decoration:none;
            color:brown;
            &:hover{
                background:grey;
                color:white;
            }
        }
        &:hover{
            cursor:pointer;
        }
    }
    ul{
        padding:0;
    }
    footer{
        width:80%;
        ul{
            display:flex;
            justify-content: space-around;
        }
    }
    h3{
        -webkit-animation: rotating 7s linear infinite;
        -moz-animation: rotating 7s linear infinite;
        -ms-animation: rotating 7s linear infinite;
        -o-animation: rotating 7s linear infinite;
        animation: rotating 7s linear infinite;
    }
}

#body_profile{
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:center;
    align-items:center;
    input[type=submit]{
        display:block;
        margin:auto;
    }
}

#body_livre{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    a{
    }
}

.mess_livreor{
    margin-bottom:2%;
    background:#8892BF;
    border:2px solid black;
    width:50vw;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color:white;
    padding:1%;
    p{
        margin-bottom:1%;
        &:first-of-type{
            font-size:2em;
            font-weight:bold;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        color:orange;
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
        color:purple;
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
        color:orange;
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
        color:purple;
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }