html {
  background: #E8E8E8;
}

#body_accueil {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Nerko One', Courier;
}

#body_accueil header {
  width: 100%;
}

#body_accueil h1 {
  color: white;
  font-size: 2.5em;
  text-shadow: 2px 0 black, 0 2px black, -2px 0 black, 0 -2px black;
  background: #445089;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 0;
}

#body_accueil h2 {
  color: white;
  font-size: 2em;
  text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
}

#body_accueil details {
  font-size: 1.5em;
  background: #445089;
  border-radius: 10px;
  color: #8892BF;
  width: 20%;
  margin: auto auto 5% auto;
}

#body_accueil details:hover {
  background: #8892BF;
  color: white;
}

#body_accueil details ul {
  margin: 0;
}

#body_accueil details ul form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#body_accueil details ul form input {
  font-family: 'Nerko One', Courier;
  font-size: 1em;
  color: #6656AD;
  background: none;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#body_accueil details ul form input:hover {
  cursor: pointer;
}

#body_accueil details ul li {
  background: #A7DEC2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#body_accueil details ul li:hover {
  background: #E4A628;
}

#body_accueil details ul li:hover a {
  color: white;
}

#body_accueil details ul li a {
  text-decoration: none;
  color: #6656AD;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#body_accueil img {
  height: 200px;
  width: 80vw;
  -o-object-fit: cover;
     object-fit: cover;
}

#body_accueil li, #body_accueil summary {
  list-style-type: none;
  margin: 0;
}

#body_accueil li:hover, #body_accueil summary:hover {
  cursor: pointer;
}

#body_accueil ul {
  padding: 0;
}

#body_accueil footer {
  width: 80%;
}

#body_accueil footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#body_accueil h3 {
  -webkit-animation: rotating 7s linear infinite;
  animation: rotating 7s linear infinite;
}

#body_accueil #alert {
  display: block;
  width: 60%;
  margin: auto;
  padding: 3%;
  background: #E5D992;
  border-radius: 10px;
}

#body_accueil p {
  font-size: 1.3em;
  color: white;
  text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
}

#body_connexion, #body_inscription, #body_profile, #body_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#body_connexion label, #body_inscription label, #body_profile label, #body_comment label {
  background: #445089;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1% 3% 1% 3%;
  text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
  border-radius: 10px;
}

#body_connexion input, #body_inscription input, #body_profile input, #body_comment input {
  margin: 5%;
}

#body_connexion input[type=submit], #body_inscription input[type=submit], #body_profile input[type=submit], #body_comment input[type=submit] {
  background: #A7DEC2;
  color: grey;
  border: none;
  border-radius: 10px;
  padding: 3%;
}

#body_connexion input[type=submit]:hover, #body_inscription input[type=submit]:hover, #body_profile input[type=submit]:hover, #body_comment input[type=submit]:hover {
  cursor: pointer;
  background: #3B8CE8;
  color: white;
}

#body_livre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mess_livreor {
  margin-bottom: 2%;
  background: #8892BF;
  border: 2px solid black;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  padding: 1%;
}

.mess_livreor p {
  margin-bottom: 1%;
}

.mess_livreor p:first-of-type {
  font-size: 2em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    color: orange;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    color: purple;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    color: orange;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    color: purple;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=livreor.css.map */